# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt


/.sourcemaps
/.versions
/coverage

# Ionic
/.ionic
/www
/platforms
/plugins

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
/.angular
/.angular/cache
.sass-cache/
/.nx
/.nx/cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Ignore the entire ios build and cache directories
ios/DerivedData/
ios/build/

# Ignore user-specific Xcode files
ios/**/xcuserdata/
ios/**/*.xcuserstate
ios/**/*.xccheckout

# Ignore Pod cache but keep Podfile and Podfile.lock
ios/Pods/
ios/**/Podfile.lock
!ios/**/Podfile

# Ignore macOS system files
.DS_Store

# Ignore Xcode intermediate files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap

# Ignore generated IPA files
*.ipa

# Allow default files to be tracked
!default.pbxuser
!default.mode1v3
!default.perspectivev3


