<div class="container">
  <h1>Add Employee</h1>
  {{ empDetails | json }}
  <form #addEmployeeForm="ngForm" (ngSubmit)="submitEmployee(addEmployeeForm)">
    <div class="mb-3 mt-3">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter email"
        name="email"
        [(ngModel)]="empDetails.email"
        pattern=".*@[a-zA-Z0-9.-]*"
        required
        #emailVal="ngModel"
      />
      <div *ngIf="emailVal.touched">
        <div *ngIf="emailVal.errors?.['required']" class="text-danger">
          Please provide an email address
        </div>
        <div *ngIf="emailVal.errors?.['pattern']" class="text-danger">
          Please provide a valid email address
        </div>
      </div>
    </div>

    <div class="mb-3 mt-3">
      <label for="first_name">First Name:</label>
      <input
        type="text"
        class="form-control"
        id="first_name"
        placeholder="Enter first name"
        name="first_name"
        minlength="3"
        pattern="[a-zA-Z ]*"
        [(ngModel)]="empDetails.first_name"
        required
        #firstNameVal="ngModel"
      />
      <div *ngIf="firstNameVal.touched">
        <div *ngIf="firstNameVal.errors?.['required']" class="text-danger">
          Please provide first name
        </div>
        <div *ngIf="firstNameVal.errors?.['pattern']" class="text-danger">
          First name should contain only letters
        </div>
        <div *ngIf="firstNameVal.errors?.['minlength']" class="text-danger">
          First name should be at least 3 characters
        </div>
      </div>
    </div>
    <div class="mb-3 mt-3">
      <label for="last_name">Last Name:</label>
      <input
        type="text"
        class="form-control"
        id="last_name"
        placeholder="Enter last name"
        name="last_name"
        pattern="[a-zA-Z ]*"
        [(ngModel)]="empDetails.last_name"
        #lastNameVal="ngModel"
      />
      <div
        *ngIf="lastNameVal.touched && lastNameVal.errors?.['pattern']"
        class="text-danger"
      >
        Last name should contain only letters
      </div>
    </div>
    <div class="mb-3 mt-3">
      <label for="salary">Salary:</label>
      <input
        type="number"
        class="form-control"
        id="salary"
        placeholder="Enter salary"
        name="salary"
        [(ngModel)]="empDetails.salary"
      />
    </div>
    <div class="mb-3">
      <label for="department">Department:</label>
      <input
        type="text"
        class="form-control"
        id="department"
        placeholder="Enter department"
        name="department"
        [(ngModel)]="empDetails.department"
        required
        #departmentVal="ngModel"
      />
      <div
        *ngIf="departmentVal.invalid && departmentVal.touched"
        class="text-danger"
      >
        Please provide a department
      </div>
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember" />
        Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
